.tablesimple {
    border: 2px solid rgb(78, 77, 77);
}
.tablesecond {
    border: 2px solid rgb(78, 77, 77);
    border-collapse: collapse;
    text-align: center;
}

.cell
 td{
    border: 2px solid rgb(14, 13, 13);
    color: rgb(7, 6, 6);
}
ul {
    list-style-type: circle;
    color: black;
  }
